
/*












.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}




.table {
  width: 1100px;
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  height: 790px;
  position: relative;
  padding-top: 100px;
}

.feynman__tittle {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 70px auto;
  z-index: 1;
  position: relative;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
}

/* including elements with key-value modifiers */
/*
.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #f2f2f2;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #f2f2f2;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  height: 100%;
  flex-basis: 711px;
  display: flex;
}

.footer__column_content_copyright {
  position: relative;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  top: 0;
  left: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 18px;
  margin: 18px 0 0 0;
}

.footer__column_content_about {
  padding: 0;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__column-link {
  padding: 0;
  display: block;
}

.footer__column_content_social {
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
